header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    text-align: center;
}

h1 {
    color: #063970;
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px;
}

.stitre {
    color: white;
    font-size: 17px;
    padding-left: 20px;
}

.logo {
padding: 10px;
}

.note {
    font-size: 14px;
    font-style: italic;
  
}