header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    text-align: center;
}

main{
    background-color: rgba(100, 149, 237, 0.2);
}

h1 {
    color: #063970;
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px;
}

h2{
    color: #063970;
    font-size: 26px;
    font-weight: bold;
    justify-content: center;
}

a{
    color: #063970;
}
section {
margin-top: 20px;
}

button{
padding: 5px;
}

.stitre {
    color: white;
    font-size: 17px;
    padding-left: 20px;
}

.logo {
padding: 10px;
}

.note {
    font-size: 14px;
    font-style: italic;
}

.navbtn{
    background-color: cornflowerblue;
    text-align: center;
}
.active{
    background-color: #063970;
    color: white;
}

a:hover{
    color: white  ;
}
