header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: cornflowerblue;
    text-align: center;
}

main {
    background-color: rgba(100, 149, 237, 0.2);
}


h1 {
    color: #063970;
    font-size: 32px;
    font-weight: bold;
    padding-top: 20px;
}

h2 {
    color: #063970;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

h3 {
    color: #063970;
    font-size: 20px;
    font-weight: bold;
}

a {
    color: #063970;
    font-size: small;
}

section {
margin-left: 10px;
margin-right: 10px;
}

button {
padding: 5px;
}

footer {
    color: white;
    background-color: #063970;
    text-align: center;
}

.stitre {
    color: white;
    font-size: 17px;
    padding-left: 20px;
}

.logo {
padding: 10px;
}

.note {
    font-size: 14px;
    color: #063970;
    font-style: italic;
}

.navbtn {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 15px;
}
.active {
    background-color: #063970;
    color: white;
}

.row {
    justify-content: space-evenly;
}

.bcgc {
    background-color: rgb(198, 218, 248);  
 }

.bcgd {
    background-color: #063970;
}

.card {
margin: 10px;
}

.left {
    margin-right: 5px;
}

.right {
    margin-left: 5px;
}

.card-title {
    color: #063970;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.card-text {
    color: #063970;
    font-size: 14px;
    padding: 5px;
}

.btn {
    font-size: 14px;
    color: white;
    background-color: #063970;
    margin-top: 10px;
    margin-bottom: 10px;
}

.maxImg {
    max-height: 200px;
    max-width: 350px;
}

.firstCard {
    color: #063970;
    font-size: 18px;
    padding: 5px;
}

.btn:hover {
    background-color: white;
    color: #063970;

}

a:hover {
    color: white  ;
}

.link {
    text-decoration: none;
}